
<div class="form center">
  <h5>Title: <%= @graph.title %> </h5>
  <%= form_for @graph do |f| %>
      Title: <%= f.text_field :title %>
      <%= collection_check_boxes(:search_categories, :name, JobCategory.all, :name, :name) %>
      <%= f.date_field :job_begin_date, class:"datepicker"%>
      <%= f.date_field :job_end_date, class:"datepicker"%>
      <%= f.select(:x_axis, [['Category', 'category'], ['Country', 'country'], ['Post Date', 'post_date']]) %>
      <%= f.select(:graph_type, [['Bar Graph','bar'], ['Pie Graph','pie'], ['Line Graph','line'], ['Column Graph','column']]) %>
      <%= f.submit "Update Graph", class: "btn" %>
  <% end %>
</div>
