<div class="error">
  <% flash.each do |name, msg| %>
  <%= msg %>
  <% end %>
</div>

<div class="container">
  <div class="row wht-bk blk-font row-margin">
    <div class="col s12">
      <h3>CREATE A<span class="text-prim-color"> GRAPH</span></h3>
      <hr>
      <%= form_for @graph do |f| %>
      <div class="graph-title-input">
        <p><b>Title: </b></p>
        <%= f.text_field :title, placeholder: "Input Title", :maxlength => 15, class: "graph-input-inline", autofocus: true %>
      </div>
      <div class="graph-description-input">
      <p><b>Description: </b></p>
        <%= f.text_area :description, placeholder: "Input Description", :maxlength => 200, class: "graph-input-description" %>
      </div>
      <p><b>Job Categories</b></p>
      <div class="check-boxes">
        <%= collection_check_boxes(:search_categories, :name, JobCategory.all, :name, :name) %>
      </div>
      <p><b>Search Criteria: </b></p>
      <div class="search-dropdown" >
        <%= f.select(:x_axis, [['By Job Category', 'category'], ['Top 10 Company Cities', 'city'], ['By Post Date', 'post_date'],
          ['By Company Country', 'country'] ]) %>
        </div>
        <p><b>Graph Type: </b></p>
        <div class="graph-dropdown">
          <%= f.select(:graph_type, [['Bar Graph','bar'], ['Pie Chart','pie'], ['Line Graph','line'], ['Column Graph','column']]) %>
        </div><br>
          <%= f.submit "Create Graph", class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>
