
<h4> <%= @graph.title %> </h4>

<% graph_h = "100%" %>
<% if @graph.x_axis == 'city'
  graph_h = "450px"
  end
%>
<% if @listing.empty? %>
  <h3>There are no search results </h3>
<% else %>
  <div id="container">
    <% if @graph.graph_type == 'bar' %>
      <% if @graph.x_axis == 'city' %>
        <%= bar_chart @listing.top(@graph.x_axis,10), legend: true,download: 'column_chart',
        xtitle: @graph.x_axis.upcase, ytitle: "Count", height: "#{graph_h}" %>
      <% else %>
        <%= bar_chart @listing.group(@graph.x_axis).count, legend: true,download: 'column_chart',
        xtitle: @graph.x_axis.upcase, ytitle: "Count", height: "#{graph_h}" %>
      <% end %>
    <% elsif @graph.graph_type == 'line' %>
      <% if @graph.x_axis == 'city' %>
        <%= line_chart @listing.top(@graph.x_axis,10),legend: true,download: 'line_chart',
         xtitle: @graph.x_axis.upcase, ytitle: "Count", height: "#{graph_h}" %>
      <% else %>
        <%= line_chart @listing.group(@graph.x_axis).count,legend: true,download: 'line_chart',
         xtitle: @graph.x_axis.upcase, ytitle: "Count", height: "#{graph_h}" %>
      <% end %>
    <% elsif @graph.graph_type == 'pie' %>
    <% if @graph.x_axis == 'city' %>
      <%= pie_chart @listing.top(@graph.x_axis, 10),legend: true,download: 'pie_chart',
       xtitle: @graph.x_axis.upcase, ytitle: "Count", height: "#{graph_h}" %>
      <% else %>
      <%= pie_chart @listing.group(@graph.x_axis).count,legend: true,download: 'pie_chart',
       xtitle: @graph.x_axis.upcase, ytitle: "Count", height: "#{graph_h}" %>
      <% end %>
    <% elsif @graph.graph_type == 'column' %>
      <% if @graph.x_axis == 'city' %>
        <%= column_chart @listing.top(@graph.x_axis,10),legend: true,download: 'column_chart',
         xtitle: @graph.x_axis.upcase, ytitle: "Count", height: "#{graph_h}" %>
      <% else %>
        <%= column_chart @listing.group(@graph.x_axis).count,legend: true,download: 'column_chart',
         xtitle: @graph.x_axis.upcase, ytitle: "Count", height: "#{graph_h}" %>
      <% end %>
    <% end %>
  </div>
  <% end %>
