<% content_for :head do %>
<style>
nav {
  background-color: transparent;
  box-shadow: none;
  text-shadow: 1px 1px 5px black;
}
body {
  background-color: #111111;
  color: #EFF9F0;
}
</style>
<% end %>

<div class="container-header">
  <div class="text-container">
    <div class="text-header">
      <h3 class="text-header-title">WEB DEVELOPMENT VISUALIZATIONS</h3>
      <p class="subheader">Data by us. Customized by you</p>
    </div>
  </div>
</div>
<div class="container about-section">
  <div class="row row-top-margin">
    <div class="col s12 text-hcenter">
      <h4>ABOUT<span class="text-prim-color"> VIZ.DATA</span></h4><br>
    </div>
  </div>
  <div class="row">
    <div class="col s7 m4">
      <h6 class="text-title-bold">we turn data into graphical content</h6>
      <p>For each user we provide the tools needed to convert your desired job listings into a readable format that can be easily visalized. We provide live updating - our information is up to date and current; it is provided by <a href="https://authenticjobs.com/">authenticjobs.com</a>. This site is intended to assist you in understanding the market trends, availability, and where to look for your next job.</p>
    </div>
    <div class="col s5 m4 viz-margin">
      <h6 class="text-title-bold">our specializations:</h6><br>
      <img src="/assets/icon_job_01.png" class="icon">
      <p class=" text-subtitle-bold">CAREERS</p>
      <img src="/assets/icon_job_trends_01.png" class="icon">
      <p class=" text-subtitle-bold">TRENDS</p>
      <img src="/assets/icon_hot_market_01.png" class="icon">
      <p class=" text-subtitle-bold">THE MARKET</p>
    </div>
    <div class="col s12 m4 viz-about-col">
  </div>
</div>
<div class="container viz-info">
  <div class="row">
    <div class="col s12 strip-header">
      <h4>OUR<span class="text-prim-color"> INFORMATION</span></h4>
    </div>
    <div class="row strip-row">
      <a href="#def-back" class="strip-cont modal-trigger">
        <div class="col s4 m2 strip strip-1">
          <p class="strip-vert-text">BACK END WEB DEVELOPMENT</p>
          <div class="viz-transparent">
          </div>
        </div>
      </a>
      <a href="#def-front" class="strip-cont modal-trigger">
        <div class="col s4 m2 strip strip-2">
          <p class="strip-vert-text">FRONT END WEB DEVELOPMENT</p>
          <div class="viz-transparent">
          </div>
        </div>
      </a>
      <a href="#def-prod-man" class="strip-cont modal-trigger">
        <div class="col s4 m2 strip strip-3">
          <p class="strip-vert-text">PRODUCT MANAGEMENT</p>
          <div class="viz-transparent">
          </div>
        </div>
      </a>
      <a href="#def-ux" class="strip-cont modal-trigger">
        <div class="col s4 m2 strip strip-4">
          <p class="strip-vert-text">UX DESIGN</p>
          <div class="viz-transparent">
          </div>
        </div>
      </a>
      <a href="#def-marketing" class="strip-cont modal-trigger">
        <div class="col s4 m2 strip strip-5">
          <p class="strip-vert-text">MARKETING</p>
            <div class="viz-transparent">
            </div>
          </div>
        </a>
        <a href="#def-management" class="strip-cont modal-trigger">
          <div class="col s4 m2 strip strip-6">
            <p class="strip-vert-text">MANAGEMENT</p>
            <div class="viz-transparent">
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="modal-for-show">
    <div id="def-back" class="modal center-align">
      <div class="modal-content">
        <%= render partial: "layouts/def_back_end"%>
      </div>
    </div>
    <div id="def-front" class="modal center-align">
      <div class="modal-content">
        <%= render partial: "layouts/def_front_end"%>
      </div>
    </div>
    <div id="def-prod-man" class="modal center-align">
      <div class="modal-content">
        <%= render partial: "layouts/def_prod_man"%>
      </div>
    </div>
    <div id="def-ux" class="modal center-align">
      <div class="modal-content">
        <%= render partial: "layouts/def_ux"%>
      </div>
    </div>
    <div id="def-marketing" class="modal center-align">
      <div class="modal-content">
        <%= render partial: "layouts/def_marketing"%>
      </div>
    </div>
    <div id="def-management" class="modal center-align">
      <div class="modal-content">
        <%= render partial: "layouts/def_management"%>
      </div>
    </div>
  </div>
