<%= form_for @user do |f| %>
      <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, :maxlength => 20 %>
      </div>
      <div>
        <%= f.label :last_name%>
        <%= f.text_field :last_name, :maxlength => 20 %>
      </div>
      <div>
        <%= f.label :city%>
        <%= f.text_field :city, :maxlength => 20 %>
      </div>
      <div>
        <%= f.label :image%>
        <%= f.url_field :image %>
      </div>
      <div>
        <%= f.label :email%>
        <%= f.email_field :email, :maxlength => 20 %>
      </div>
      <%= f.submit "Save Changes", class: "btn" %>
      <% end %>
