<div class= "container">
  <div class= "row">
    <div class="col s12 l2">
      <%= image_tag(@user.image, class: "circle") %><br>
    </div>
    <div class= "col s12 l10">
      <b>Name: </b><%= @user.first_name %> <%= @user.last_name %><br>
      <b>Location: </b><%= @user.city %><br>
      <b>Date Joined: </b><%= @user.created_at.strftime("%B").to_s + " " + @user.created_at.year.to_s %><br>
      <%= link_to "Edit Profile", edit_user_path(@user.slug), class: "btn" %><br>
    </div>
  </div>
<h3>Visualization Favorites Below</h3>
<% @graphs.each do |graph| %>
<%= graph.title %><br>
<% end %>
</div>
