<div class="nav-wrapper">
  <div class="row hide-on-small-only">
    <div class="col s12 m4" id="left">
      <div class="prof-content">
        <div class="row">
          <div class="col s12 prof-background">
            <div >
              <div class="col m8 l6 offset-l3 offset-m2 prof-photo">
                <%= image_tag(@user.image, class: "circle") %>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center-align">
                <h5 class="prof-title"><%= @user.first_name.upcase %> <%= @user.last_name.upcase %></h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <h5>Profile Information</h5>
            <hr><br>
            <b>Location: </b><%= @user.city %><br><br>
            <b>Date Joined: </b><%= @user.created_at.strftime("%B").to_s + " " + @user.created_at.year.to_s %>
            <% if @user == current_user %>
            <%= button_to edit_user_path(@user.slug), class: "btn-floating btn-medium" do  %>
              <i class="medium material-icons">mode_edit</i>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m7" id="right">
    <h3>Visualization Favorites Below</h3>
    <% @graphs.each do |graph| %>
      <%= graph.title %><br>
      <%= link_to "Read More", graph_path(graph.id) %>
      <% if graph.user == current_user %>
        <%= button_to "Edit Post", edit_graph_path(graph.id), method:'get', class: 'btn' %>
        <%= button_to 'Delete', {:controller => "graphs", :action => 'show', :id => graph.id}, data:   {:confirm => "Are you sure you want to delete the #{graph.title} graph?"}, :method => :delete, class: 'btn delete-button' %>
        <% end %>
    <% end %>
  </div>
</div>




<div class= "container">


</div>
