<div class="col s12 m2">
  <% if graph.graph_type == "pie" %>
    <%= image_tag(asset_path('graph_pie_chart_01.png'), class: "graph_img") %>
  <% elsif graph.graph_type == "line" %>
    <%= image_tag(asset_path('graph_line_graph_01.png'), class: "graph_img") %>
  <% elsif graph.graph_type == "bar" %>
    <%= image_tag(asset_path('graph_bar_graph_01.png'), class: "graph_img") %>
  <% elsif graph.graph_type == "column" %>
    <%= image_tag(asset_path('graph_column_graph_01.png'), class: "graph_img") %>
  <% end %>
</div>
<div class="col s12 m10">
  <p><b>Author: </b><%= link_to "#{graph.user.first_name} #{graph.user.last_name}", user_path(graph.user.slug) %></p>
  <p><b>Creation Date: </b><%= graph.user.created_at.strftime("%B").to_s + " " + graph.user.created_at.day.to_s + ", " + graph.user.created_at.year.to_s%></p>
  <p><b>Description: </b><%= link_to "#{graph.description}", user_path(graph.user.slug) %>
  <%= link_to "Review full details", graph_path(graph.id) %></p>
</div>
