<!DOCTYPE html>
<html>
  <head>
    <title>Viz</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav>
    <div class="nav-wrapper text-white">
      <a href="" class="brand-logo">logo to go here</a>
      <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Visualizations", graphs_path %></li>
        <% if current_user %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Visualizations", graphs_path %></li>
        <% if current_user %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <!-- Flash method for devise -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <!-- This tag allows you to change to the css of a specific page -->
  <%= stylesheet_link_tag %>
  <%= yield(:head) %>

    <%= yield %>


  </body>
</html>
